#footer{
    background-color: lightgrey;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}